[user]
  name = Ruud van Asseldonk
  email = dev@veniogames.com
  signingkey = 0599697D

[alias]
  # The format string is the same as --decorate=short, but with the branch/tag
  # markers after the commit message instead of in front of it.
  hist = log   --oneline --format='%C(auto)%h %s%d'
  lg = log -10 --oneline --format='%C(auto)%h %s%d'
  st = status -s
  pl = pull --ff-only --no-rebase

  # When run after a pull, shows all new commits from old to new. Optionally
  # takes the branch name.
  whatsnew = !git hist --reverse $1@{1}..$1@{0}

[gui]
  fontdiff = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
  diffcontext = 4
  encoding = utf-8
  
[push]
  default = simple

[transfer]
  fsckObjects = true

[diff]
  algorithm = patience

[merge]
  conflictstyle = diff3
  tool = gvimdiff

[rerere]
  # Remember conflict resolutions. If the same conflict appears again,
  # use the previous resolution.
  enabled = true

  # If rerere successfully resolved a conflict, stage the conflicted
  # file automatically.
  autoupdate = true
