[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/bundle/vim-scala"]
	path = vim/.vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "vim/.vim/bundle/elm.vim"]
	path = vim/.vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim
[submodule "vim/.vim/bundle/vim-antlr"]
	path = vim/.vim/bundle/vim-antlr
	url = https://github.com/jrozner/vim-antlr
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/vim-glsl"]
	path = vim/.vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule "vim/.vim/bundle/pony-vim-syntax"]
	path = vim/.vim/bundle/pony-vim-syntax
	url = https://github.com/dleonard0/pony-vim-syntax
