/* Add a bit of padding to title bars. */

headerbar {
    padding: 3px;
}


/* Add a bit of padding to the terminal. */

VteTerminal, vte-terminal, TerminalScreen {
    padding: 10px 10px 10px 10px;
    -VteTerminal-inner-border: 10px 10px 10px 10px;
}
